<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Blenheim Round Table 30</h5>
        <p class="grey-text text-lighten-4">
          <strong>Aims &amp Objects of Round Table New Zealand</strong><br>
          To promote involvement in business and community, to encourage personal development and to enhance lifestyle.<br>
          <strong>Adopt - Adapt - Improve</strong><br>
          Round Table New Zealand is a National Association of tables (clubs) based throughout New Zealand. Membership is open to responsible community focused men between the ages of 18 – 45.
        </p>
      </div>
      <div class="col l4 s12 offset-l2">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="white-text" href="{{ "" | prepend: site.baseurl | prepend: site.url }}">Home</a>
          </li>
          <li>
            <a class="white-text" href="{{ "/about/" | prepend: site.baseurl | prepend: site.url }}">About us</a>
          </li>
          <li>
            <a class="white-text" href="{{ "/contact/" | prepend: site.baseurl | prepend: site.url }}">Contact us</a>
          </li>
          <li>
            <a class="white-text" href="https://www.facebook.com/BlenheimRoundTable30Nz/">Facebook</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy Website by <a href="#" class="white-text">Matt Brown</a>
    </div>
  </div>
</footer>
